<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top</title>
  <style>
    body{
      background-color : black;
      color : white;
    }
  </style>
</head>

<body>
  <titile>今年度の年収からの次年度の所得税、住民税の算出</titile>
  <p>昨年度の年収(万円):<br>
  <input type="text" class="input-text"/>
  <button class="send-button">送信</button>
  <p id = "result"></p>
  <script src="/static/index.js" defer></script>    
</body>
</html>
